body{
    margin: 0;
    padding: 0;
}

*{
    font-family: "Poppins", sans-serif;
}

header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 458px;
}

.header-button-box{
    display: flex;
    gap: 43px;
}

.header-button{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
}

.header-button-neg{
    color: white;
    background-color: black;
    border-radius: 19px;
    width: 207px;
    height: 61px;
}

.first-screen{
    background-image: url("assets/img/screen-1.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-text-box{
    position: relative;
    left: 133px;
}

.f-light-text{
    font-size: 19px;
    color: #645C55;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 26px;
}

.f-big-text{
    font-size: 85px;
    color: black;
    margin: 0;
    margin-bottom: 25px;
}

.f-text{
    color: #403E3B;
    font-size: 21px;
    margin: 0;
    width: 679px;
    margin-bottom: 40px;
}

.f-button{
    color: black;
    width: 177px;
    height: 61px;
    background-color: #ECE7E4;
    border: none;
    cursor: pointer;
    font-size: 21px;
}

.second-screen{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1042px;
    gap: 177px;
    padding-top: 128px;
}


.s-head-text{
    color: #403E3B;
    font-size: 43px;
    margin: 0;
}

.s-column{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.s-text{
    width: 657px;
    font-size: 21px;
    color: #403E3B;
    margin: 0;
}

.t-screen-img {
    width: 100%;
}

.t-screen {
    position: relative;
}

.t-text-box {
    display: inline-block;
    width: 270px;
    position: absolute;
    right: 80px;
    bottom: 350px;
}

.t-head-text {
    color: #403E3B;
}

.t-text {
    color: #645C55;
}

.fo-screen{
    width:100%;
    height: 775px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fo-light-text{
    color: #645C55;
    font-size: 19px;
    margin: 0;
}

.fo-head-text{
    color: black;
    font-size: 52px;
    margin: 0;
    margin-top: 17px;
    margin-bottom: 53px;
}

.fo-cards{
    display: flex;
    flex-direction: row;
    gap:21px;
}

.fo-card{
    display: flex;
    width: 505px;
    height: 345px;
    flex-direction: column;
    align-items: center;
}

.fo-card-ico{
    width: 156px;
    height: 136px;
}

.fo-card-head{
    font-size: 23px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 13px;
    text-align: center;
    color: #403E3B;
}

.fo-card-desc{
    font-size: 21px;
    margin: 0;
    color: #645C55;
    text-align: center;
}

.fo-desc-1{
    width: 392px;
}

.fo-desc-2{
    width: 389px;
}

.fo-desc-3{
    width: 380px;
}

.fif-screen{
    width: 100%;
    height: 800px;
    background-image: url("assets/img/stairs.png");
}

.fif-text-box{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 100%;
    left: calc(100% - 400px);
}

.fif-head-text{
    letter-spacing: 3px;
    color: #403E3B;
    font-size: 19px;
    margin: 0;
    text-transform: uppercase;
}

.fif-text{
    color: #645C55;
    font-size: 21px;
    width: 380px;
    margin: 0;
}

.six-screen{
    display: flex;
    background-color: #403E3B;
    width: 100%;
    height: 547px;
    align-items: center;
    justify-content: center;
    gap: 175px;
}


.six-light-text{
    color: #ECE7E4;
    font-size: 19px;
    margin: 0;
    text-transform: uppercase;
}

.six-head-text{
    color: white;
    font-size: 43px;
    margin: 0;
    margin-bottom: 18px;
}

.six-text{
    color: #ECE7E4;
    width: 601px;
    font-size: 20px;
    margin: 0;
}

.sev-screen{
    width: 100%;
    height: 800px;
    background-image: url("assets/img/staircase.png");
}

.sev-text-box{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 100%;
    left: calc(100% - 1800px);
}

.sev-head-text{
    letter-spacing: 3px;
    color: #403E3B;
    font-size: 19px;
    margin: 0;
    text-transform: uppercase;
}

.sev-text{
    color: #645C55;
    font-size: 21px;
    width: 380px;
    margin: 0;
}

.eig-screen{
    display: flex;
    width: 100%;
    height: 1224px;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
}

.eig-figma-tak-skazala{
    width: 1600px;
    height: 931px;
}

.eig-head-text{
    font-size: 52px;
    margin: 0;
}

.eig-text{
    font-size: 32px;
    margin: 0;
    width: 775px;
    margin-top: 20px;
    margin-bottom: 56px;
}

.eig-cards{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
}

.eig-card{
    width: 500px;
    height: 608px;
}

.eig-card-img-back{
    display: flex;
    flex-direction: column;
    gap: 373px;
    background-image: url("assets/img/bar.png");
    background-size: 500px 608px;
    background-repeat: no-repeat;
}

.eig-card-text-box{
    width: 276px;
    margin-top: 53px;
    margin-left: 53px;
}

.eig-card-light-text{
    font-size: 19px;
    margin: 0;
    letter-spacing: 3px;
    color: #645C55;
}

.eig-card-text{
    font-size: 31px;
    margin: 0;
    color: #403E3B;
}

.eig-card-button{
    color: white;
    background-color: black;
    width: 177px;
    height: 61px;
    border: none;
    cursor: pointer;
    font-size: 21px;
    border-radius: 19px;
    margin-left: 53px;
}

.eig-for-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
    height: auto;
}

.eig-under-cards-button{
    width: 240px;
    height: 61px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 21px;
    margin: 0;
}

.ni-screen{
    width: 100%;
    height: 790px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 21px;
}

.ni-head-text{
    color: #403E3B;
    font-size: 43px;
    margin: 0;
}

.ni-text{
    color: #645C55;
    font-size: 20px;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 40px;
    width: 477px;
}

.ni-button{
    width: 161px;
    height: 61px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 21px;
    margin: 0;
}

.ni-left-side-scr{
    height: 523px;
    width: 505px;
    margin-top: 133px;
}

.ni-right-side{
    display: flex;
    flex-direction: row;
    width: 1031px;
    height: 523px;
    margin-top: 133px;
}

.ni-left-side-box{
    width: 532px;
    height: 523px;
    display: flex;
    flex-direction: column;
}

.ni-card{
    width: auto;
    height: 133px;
    display: flex;
    flex-direction: row;
}

.ni-card-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    width: auto;
    height: 133px;
}

.ni-card-head-text{
    color: black;
    font-size: 23px;
    margin: 0;
}

.ni-card-text{
    color: #645C55;
    font-size: 19px;
    margin: 0;
}

.ni-card-top{
    margin-top: 40px;
}

.te-screen{
    display: flex;
    width: 100%;
    height: 419px;
    background-color: #CEC4BC;
    align-items: center;
    justify-content: center;
    gap: 596px;
}

.te-light-text{
    color: #645C55;
    letter-spacing: 3px;
    font-size: 19px;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    top: 22px;
}

.te-text{
    font-size: 53px;
    margin: 0;
    width: 759px;
}

.te-button{
    width: 193px;
    height: 61px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 21px;
    margin: 0;
}

footer{
    display: flex;
    width: 100%;
    height: 272px;
    align-items: center;
    justify-content: center;
    gap: 921px;
}

.foot-text{
    margin: 0;
    margin-top: 27px;
    color: #645C55;
}

.foot-left-side{
    display: flex;
    height: 112px;
    align-items: flex-end;
    gap: 27px;
}